.container {
  max-width: 1200px;
  margin: auto;
  height: 1000px;
}

.container-nav{
  max-width: 1200px;
  margin: auto;
  height: 1000px;
}

.ramda {
  /* height: 79px; */
  width: 100%;
  /* border-radius: undefinedpx; */
  font-family: Roboto;
  font-weight: 400;
  text-align: left;
  font-size: 80px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.blue {
  color: #4bcaff;
}
.topnav {
  background: #35444f;
  overflow: hidden;
  width: 98.8%;
  height: auto;
}

.r {
  border-right: 1px solid #ffffff;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  font-size: 24px;

  font-family: Roboto;

  font-weight: 400;
  line-height: 28px;
}

.topnav a:hover {
  background-color: #222f3a;

  color: wheat;
}

.topnav a.active {
  background-color: #4caf50;
  color: white;
}

.probel {
  white-space: pre;
}

.vertical-menu {
  height: 399px;
  width: 344px;
  text-align: left;
}

.vertical-menu a {
  background-color: rgb(255, 255, 255);
  color: black;
  display: block;
  padding: 14.4px;
  text-decoration: none;

  font-family: Roboto;
  font-size: 27px;
  /* font-style: normal; */
  font-weight: 400;
  line-height: 51.9px;
}

.vertical-menu a:hover {
  background-color: #ccc;
  font-weight: 600;
  text-align: center;
}

.border {
  border: 1px solid #000000;
  height: 399px;
  width: 344px;
  /* padding-top: 0; */
  /* margin-top: 10px; */
}

.images {
margin-left: 200px;
margin-top: 60px;
  height: 381px;
width: 320px;

}

.border-two {
  margin-left: 52px;
  border: 1px solid #000000;
  height: 529px;
  width: 779px;
 
}
.down{
  margin-top: 50px;
}

.text{

border-radius: nullpx;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px;

text-align: left;


}

.con-text{
  height: 140px;
width: 791px;
margin-left: 52px;

top: 566px;
border-radius: nullpx;
margin-bottom: 0;
}

.footer{
  background: rgba(99, 105, 110, 0.48);
  overflow: hidden;
  width: 98.8%;
  height: auto;
  margin-top: -100px;
  margin-bottom: auto;
  
}

.footer a{
  float: left;
  color: #000000;
  text-align: center;
 
  text-decoration: none;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 28px;
}
.alone:hover{
  text-decoration:underline;
 color: #309bc8;
}

.alone{
  padding: 14px 10px;
}
.right{
  padding: 14px 100px;
  margin-left: 100px;
}