.div_icon{
    margin-top: -3000px;
    // margin-left: -20px;
    background-color: #fff;
    width: 850px;
    margin-left: 250px;
    & img{
        width: 80px;
        height: 80px;
        margin-left: 60px;
    }
 
}
.pub{
    & h1{
        position: absolute;
        margin-top: -90px;
        margin-left: 230px;
    }
}