.footer{
    border-top: 4px solid #000;
    margin-top: 30px;
    background-color: rgb(39, 39, 39);
    width: 100%;
    height: 320px;
    padding-left: -200px;
}
.footer_left{
    margin-left: -100px;
}
.about{
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-left: -840px;
    margin-top: 60px;
}

.text_about{
    color: rgb(255, 255, 255);
    text-align: left;
    margin-left: 250px;
}
.with_us{
    margin-top: 20px;
    color: rgb(197, 197, 197);
    margin-left: -840px;
}
.contact{
    margin-top: -10px;
    margin-left: -870px;
}
.archives{
    color: rgb(192, 192, 192);
    margin-top: -200px;
    margin-left: -140px;
    font-weight: 700;
}
.line{
    color: rgb(192, 192, 192);
    margin-top: -20px;
    margin-left: -100px;
}
.text_calen{
    color: rgb(192, 192, 192);
    text-align: left;
    margin-left: 610px;
}

.img_post{
    width: 100px;
    height: 100px;
    margin-left:90px;
    margin-top: -190px;
    position: absolute;
}
.img_post_two{
    width: 100px;
    height: 100px;
    margin-left:90px;
    margin-top: -125px;
    position: absolute;
}

.post{
    font-weight: 700;
    margin-top: -215px;
    color: rgb(192, 192, 192);
    position: absolute;
    margin-left: 815px;
}
.create{
    position: absolute;
    color: rgb(255, 255, 255);
    margin-left: 195px;
    margin-top: -200px;
    & p{
        color: rgb(163, 163, 163);
        margin-left: -15px;
    }
}
.create2{
    position: absolute;
    color: rgb(255, 255, 255);
    margin-left: 195px;
    margin-top: -100px;
    & p{
        color: rgb(163, 163, 163);
        margin-left: -15px;
    }
}

.search{
    color: rgb(192, 192, 192);
    margin-top: -230px;
    margin-left:850px;
    font-weight: 700;
}
input{
    background-color: rgb(131, 129, 129);
    border:none;
    height: 30px;
    margin-left: 915px;
}
.tag{
    color: rgb(192, 192, 192);
    margin-top: 30px;
    margin-left:800px;
    font-weight: 700;
}

.div_tag{
    & p{
        width: 50px;
        margin-left: 1090px;
        background-color: rgb(93, 93, 93);
    }
}
.text_tag{
    background-color: rgb(93, 93, 93);
    width: 50px;
    margin-left: 1170px;
    margin-top: -34px;
}

.dawnfoot{
    margin-left: -600px;
    background-color: rgb(0, 0, 0);
    height: 40px;
    margin-top: 50px;
  & a{
      position: absolute;
      margin-top: 10px;
    color:rgb(255, 255, 255);
    margin-left: -20px;
   }
}
.dawn_f{
    position: absolute;
    margin-top: -29px;
    margin-left: 190px;
    color: rgba(161, 161, 161, 0.205);
}