.page__body {
  color: $color;
  background-color: #fff;
  padding: 0;
  margin: 0;
}
.top_nav {
    // background-color: #333;
    overflow: hidden;
    
  }
  

  .top_nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }